<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button type="button" (click)="hanoi()">HaNoi</button>
<button type="button" (click)="hcm()">HCM</button>
<button type="button" (click)="london()">London</button>
<button type="button" (click)="newyork()">NewYork</button>
<button type="button" (click)="tokyo()">Tokyo</button>
<button type="button" (click)="berlin()">Berlin</button>
<p>Thời tiết hiện tại</p>
<p>City: {{city}}</p>
<p>Temp: {{temp}}<sup>o</sup>C</p>
<p>Humidity: {{hump}}%</p>
<p>Pressure: {{pres}}</p>
</body>
</html>
